@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Tagname {
  @include flex-center;
  min-width: 115px;
  height: 25px;
  padding: 3px;
  color: #fff;
  background-color: $red;
  font-size: 14px;
  border-radius: 10px;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @include media-mobile {
    height: 18px;
    min-width: 84px;
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
  }
}