@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Propos {
  @include flex-center;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  width: 100%;

  @media (max-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include media-mobile {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__collapse {
    @include flex-center;
    flex-direction: column;
    padding: 0 108px 0 108px;
    margin-bottom: 46px;
    width: 100%;
    gap: 30px;

    @media (max-width: 768px) {
      padding: 0 22px 0 22px;
    }

    @include media-mobile {
      padding: 0;
      margin-bottom: 13;
      gap: 20px;
    }
  }

  &__banner {
    @include flex-center;
    height: 223px;
    margin: 40px 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../public/images/propos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;

    @include media-mobile {
      margin-top: 17px;
      margin-bottom: 19px;
    }
  }
}