@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Rating {
  @include flex-center;
  padding: 3px;
  width: 196px;
  gap: 10px;

  @include media-mobile {
    justify-content: flex-start;
    gap: 5px;
  }
}