@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.DropdownLargeOpen {
  margin-top: -10px;
  height: min-content;
  max-width: 1023px;
  width: 100%;
  padding: 27px 27px 18px 18px;
  background-color: $grey;
  border-radius: 10px;

  &__content {
    color: $red;
    font-size: 24px;
    font-weight: 400;
  }
}