@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.DropdownLargeOpen {
  margin-top: -10px;
  height: min-content;
  max-width: 1023px;
  width: 100%;
  padding: 27px 27px 18px 18px;
  background-color: $grey;
  border-radius: 10px;

  @include media-mobile {
    min-height: 143.32px;
    margin-top: -7px;
    padding: 23px 7px 12px 12px;
  }

  &__content {
    color: $red;
    font-size: 24px;
    font-weight: 400;
    line-height: 142.6%;

    @include media-mobile {
      font-size: $mobile-size;
    }
  }
}