@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Star {
  width: 30px;
  height: 30px;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }

  @include media-mobile {
    width: 15px;
    height: 15px;
  }
}