@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Tags {
  display: flex;
  margin-top: 20px;
  margin-bottom: 24px;
  gap: 10px;

  @include media-mobile {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}