@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Logement {
  width: 100%;
  padding: 0 100px;
  margin: 20px 0 14px 0;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @include media-mobile {
    padding: 0 20px;
    margin: 27px 0 64px 0;
  }

  &__infos,
  &__collapse {
    display: flex;
    justify-content: space-between;
  }

  &__infos {
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__infos-left {
    margin-top: 6px;

    @include media-mobile {
      margin-top: 0;
    }
  }

  &__infos-right {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 16px;
      gap: 12px;
    }
  }

  &__collapse {
    width: 100%;
    gap: 76px;

    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    // @media (max-width: 444px) {
    //   flex-direction: column;
    // }
  }
}