.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 40px 100px;
  max-width: 1440px;
  background-color: rgb(255,255,255);
}


