@use './Variables.scss' as *;

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  margin: auto;
  font-family: $font;
}

a {
	color: $red;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
