@use './Variables.scss' as *;
@use './Mixins.scss' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font;
	font-weight: 500;
	line-height: 142.6%;
}

body {
	margin: auto;
	color: $red;
}

a {
	text-decoration: none;
}

.title {
	font-size: $title-size;

	@include media-mobile {
		font-size: $mobile-size;
	}

	color: #fff;
}