@use '../../styles/Variables.scss' as *;

.LocationCard {
  width: 340px;
  height: 340px;
  border-radius: 10px;

  &__link {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    margin: 20px;
    padding-right: 18%;
    width: 100%;
    height: 52px;
  }
}