@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.CollapseOpen {
  margin-top: -10px;
  width: 100%;
  min-height: 249px;
  padding: 40px 15px 20px 20px;
  background-color: $grey;
  border-radius: 10px;

  @include media-mobile {
    min-height: 143.32px;
    margin-top: -5.75px;
    padding: 23px 7px 12px 12px;
  }

  &__content {
    font-size: $title-size;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @include media-mobile {
      font-size: $mobile-size;
    }
  }
}

.Equipment {
  list-style: none;
}

.CollapseLargeOpen {
  height: min-content;
  min-height: 0;
  padding: 27px 27px 18px 18px;

  @include media-mobile {
    margin-top: -7px;
  }

  &__content {
    font-size: 24px;

    @include media-mobile {
      font-size: $mobile-size;
    }
  }
}