@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Carrousel {
  height: 415px;
  margin-bottom: 24px;
  position: relative;

  @include media-mobile {
    height: 255px;
    margin-bottom: 15px;
  }

  &__picture {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;

    @include media-mobile {
      border-radius: 10px;
    }
  }

  .arrow {
    width: 46.68px;
    height: 79.2px;
    position: absolute;
    top: 40%;
    z-index: 1;
    cursor: pointer;

    @include media-mobile {
      height: 24px;
      width: auto;
      top: 47%;
    }
  }

  .leftArrow {
    left: 23.36px;

    @include media-mobile {
      left: 5.84px;
    }
  }

  .rightArrow {
    right: 23.36px;

    @include media-mobile {
      right: 5.84px;
    }
  }

  .counter {
    position: absolute;
    bottom: 24.92px;
    right: 50%;

    @include media-mobile {
      display: none;
    }
  }
}