@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;


.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 0 80px;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @include media-mobile {
    padding: 0 20px;
  }

  &__logo {
    height: 68px;

    @media (max-width: 768px) {
      height: 52px;
    }

    @include media-mobile {
      height: 47px;
    }
  }

  &__navbar {
    display: flex;
    list-style: none;

    &-element {
      margin-left: 57px;
      font-size: 24px;

      @media (max-width: 768px) {
        margin-left: 20px;
        font-size: 20px;
      }

      @media (max-width: 444px) {
        margin-left: 8px;
        font-size: 15px;
      }

      @include media-mobile {
        margin-left: 10px;
        font-size: $mobile-size;
      }

      a {
        color: $red;

        &:active {
          text-decoration: underline;
        }

        &.current {
          text-decoration: underline;
        }

        @include media-mobile {
          text-transform: uppercase;
        }
      }
    }
  }
}