@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Gallery {
  @include flex-center;
  flex-wrap: wrap;
  padding: 56px 50px 43px 50px;
  margin-bottom: 40px;
  width: 100%;
  background-color: $grey;
  gap: 50px 60px;
  border-radius: 25px;

  @media (max-width: 768px) {
    padding: 26px 10px 23px 10px;
    gap: 20px;
  }

  @include media-mobile {
    padding: 0;
    gap: 20px;
  }
}