@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.DropdownOpen {
  margin-top: -10px;
  min-height: 249px;
  max-width: 582px;
  width: 100%;
  padding: 40px 15px 20px 20px;
  background-color: $grey;
  border-radius: 10px;

  @include media-mobile {
    min-height: 143.32px;
    margin-top: -5.75px;
    padding: 23px 7px 12px 12px;
  }

  &__content {
    color: $red;
    font-size: $title-size;
    font-weight: 400;

    @include media-mobile {
      font-size: $mobile-size;
    }

  }

}

.Equipment {
  list-style: none;
}