@use '../../styles/Mixins.scss' as *;

.App {
  @include flex-center;
  flex-direction: column;
  margin: auto;
  padding-top: 40px;
  max-width: 1440px;

  @include media-mobile {
    max-width: 375px;
    padding-top: 20px;
  }

  background-color: rgb(255, 255, 255);
}