@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixins.scss' as *;

.Banner {
  @include flex-center;
  padding-left: 30px;
  height: 223px;
  margin: 63px 0 43px 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../public/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;

  @include media-mobile {
    padding-left: 16px;
    justify-content: flex-start;
    height: 111px;
    margin: 16px 0 22px 0;
    border-radius: 10px;
  }

  &__title {
    height: 68px;
    font-size: 48px;
    font-family: $font;
    font-weight: 500;
    color: #ffff;

    @include media-mobile {
      height: 48px;
      font-size: 24px;
      line-height: 100%;
    }
  }
}